numpy~=1.20
pandas~=1.2
elasticsearch~=7.12
requests~=2.25
nltk~=3.6
gensim~=4.0
spacy
scikit-learn~=0.24
nano
minimock
stop_words
regex
matplotlib
community~=1.0.0b1
scipy~=1.6.3
networkx~=2.5
textblob~=0.15.3
pymongo
bs4
lxml~=4.9.0
python-louvain~=0.15
textstat~=0.7.1
recommenders[examples]
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
