numpy~=1.20
pandas~=1.2
elasticsearch~=7.12
requests~=2.25
nltk~=3.6
gensim~=4.0
spacy~=3.0.0
scikit-learn~=0.24
nano~=0.10.0
minimock~=1.2.8
stop_words~=2018.7.23
regex~=2022.8.17
matplotlib~=3.5.3
community~=1.0.0b1
scipy~=1.6.3
networkx~=2.8.8
textblob~=0.15.3
bs4~=0.0.1
lxml~=4.9.0
python-louvain~=0.15
textstat~=0.7.1
recommenders[examples]
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.0.0/en_core_web_sm-3.0.0.tar.gz#egg=en_core_web_sm
